.header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    & h1 {
        color: #fff;
        font-family: 'Concert One', cursive;
        margin: 0;
        padding: 1rem;
        font-size: 2rem;
    }
    & .login {
        display: flex;
        flex-direction: vertical;
        align-items: center;
        & ul {
            list-style-type: none;
            margin: 0;
            padding: 0 1rem 0 0;
        }
    }
    & a:link {
        color: white;
        font-weight: 600;
    }
} 
